@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.nav{
    color: var(--very-dark-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.nav2{
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px; 
}

.hero{
    width: 75%;
    padding-left: 50px;
    padding-top: 24px;
}

.hero2{
    padding-left: 90px;
}





@media (max-width: 900px) {
   
    .carousel {
      object-fit: contain;
      margin-top: 10px;
    }
    .hero2{
        padding-top: 50px;
        padding-left: 0;
    }
    .hero{
        padding-left: 0;
    }
    .price{
        padding-top: 20px;
    }

    .cart {
        background-color: var(--orange);
        padding: 20px 20px;
        margin-right: 20px;
        width: 110%;
        cursor: pointer;
        color: var(--White);
        border-radius: 10px;
      }
      
}

.fade{
    text-decoration: line-through;
    color: var(--Grayish-blue);
}

.discount{
    color: var(--orange);
    background-color: var(--paleOrange);
}

.cart{
    background-color: var(--orange);
    color: var(--White);
    border-radius: 10px;
    padding: 20px 20px;
    margin-right: 20px;
}

.cart:hover{
    background-color: var(--orange);
    opacity: 70%;
}
